<ul>
  <li><a class="icon" href="http://www.facebook.com/sharer.php?u=<%= page.permalink %>"><i class="fa fa-facebook <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="https://twitter.com/share?url=<%= page.permalink %>&text=<%= page.title %>"><i class="fa fa-twitter <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://www.linkedin.com/shareArticle?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fa fa-linkedin <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url=<%= page.permalink %>&is_video=false&description=<%= page.title %>"><i class="fa fa-pinterest <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="mailto:?subject=<%= page.title %>&body=Check out this article: <%= page.permalink %>"><i class="fa fa-envelope <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="https://getpocket.com/save?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fa fa-get-pocket <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://reddit.com/submit?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fa fa-reddit <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://www.stumbleupon.com/submit?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fa fa-stumbleupon <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://digg.com/submit?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fa fa-digg <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" href="http://www.tumblr.com/share/link?url=<%= page.permalink %>&name=<%= page.title %>&description=<%= page.excerpt %>"><i class="fa fa-tumblr <%= icon_class_name %>" aria-hidden="true"></i></a></li>
</ul>
