<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body>
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/scripts') %>
</body>
</html>
