<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <%- partial('_partial/post/title', {post: page, index: false, class_name: 'posttitle'}) %>
        <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">
            <% if (page.author) { %><%- page.author %>
            <% } else { %><%- config.author %>
            <% } %>
        </span>
      </span>
            <%- partial('_partial/post/date', {post: page, class_name: 'postdate'}) %>
            <%- partial('_partial/post/category') %>
            <%- partial('_partial/post/tag') %>
        </div>
    </header>
    <%- partial('_partial/post/gallery') %>
    <div class="content" itemprop="articleBody">
        <%- page.content %>
    </div>
</article>
<%- partial('_partial/comments') %>

<script>
    //检测推送
    var pushType = "<%= theme.valine.pushType %>";
    var pushLink = "<%= theme.valine.pushLink %>";
    var siteName = "<%= config.title %>";
  
    var ValineButton = document.getElementsByClassName("vsubmit vbtn")[0];
    //分情况推送
    if (pushType === "sc") {
      var title = "text=" + siteName + "上又有新评论啦~!";
      function send_valine_Server() {
        //获取元素信息
        var pagename = document.title;
        var wz = pagename.indexOf("|");
        var res = pagename.substring(0, wz);
        var pageurl = document.URL;
        var ptime = new Date();
        var vnick = document.getElementsByClassName("vnick vinput")[0].value;
        var vmail = document.getElementsByClassName("vmail vinput")[0].value;
        var vlink = document.getElementsByClassName("vlink vinput")[0].value;
        var veditor = document.getElementsByClassName("veditor vinput")[0].value;
        var text = "desp=";
        var data =
          text +
          "|昵称：" +
          "|邮箱：" +
          "|网站地址：" +
          "|当前页面：" +
          "|评论内容：" +
          "|跳转链接：" +
          "|评论时间" +
          "\n" +
          "|----|----|----|----|" +
          "\n" +
          "|   " +
          vnick +
          "   |   " +
          vmail +
          "  |  " +
          vlink +
          "|   " +
          res +
          "| " +
          veditor +
          "| " +
          pageurl +
          "|" +
          ptime.toLocaleString() +
          "|";
        var httpRequest = new XMLHttpRequest(); //第一步：创建需要的对象
        httpRequest.open("POST", pushLink, true); //第二步：打开连接
        httpRequest.setRequestHeader(
          "Content-type",
          "application/x-www-form-urlencoded"
        ); //设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）
        httpRequest.send(title + "&" + data); //发送请求 将情头体写在send中
      }
      ValineButton.onclick = send_valine_Server;
    } else if (pushType === "qmsg") {
      var title = "msg=" + siteName + "上又有新评论啦~!\n";
      function send_valine_Qmsg() {
        //获取元素信息
        var pagename = document.title;
        var wz = pagename.indexOf("|");
        var res = pagename.substring(0, wz);
        var pageurl = document.URL;
        var ptime = new Date();
        var vnick = document.getElementsByClassName("vnick vinput")[0].value;
        var vmail = document.getElementsByClassName("vmail vinput")[0].value;
        var vlink = document.getElementsByClassName("vlink vinput")[0].value;
        var veditor = document.getElementsByClassName("veditor vinput")[0].value;
        var data =
          "昵称：" +
          vnick +
          "\n邮箱：" +
          vmail +
          "\n网站地址：" +
          vlink +
          "\n当前页面：" +
          pagename +
          "\n评论内容：" +
          veditor +
          "\n跳转链接：" +
          pageurl +
          "\n评论时间" +
          ptime.toLocaleString();
        var httpRequest = new XMLHttpRequest(); //第一步：创建需要的对象
        httpRequest.open("POST", pushLink, true); //第二步：打开连接
        httpRequest.setRequestHeader(
          "Content-type",
          "application/x-www-form-urlencoded"
        ); //设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）
        httpRequest.send(title + data); //发送请求 将情头体写在send中
      }
      ValineButton.onclick = send_valine_Qmsg;
    }
  </script>