<% if(page.comments && theme.valine.enabled){ %>
<div class="blog-post-comments">
  <section id="comment">
    <div id="valine_container" class="valine_thread"></div>
  </section>
  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
  <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
  <script>
    var GUEST_INFO = ["nick", "mail", "link"];
    var guest_info = "<%= theme.valine.guest_info %>"
      .split(",")
      .filter(function (item) {
        return GUEST_INFO.indexOf(item) > -1;
      });
    var valine = new Valine();
    valine.init({
      el: "#valine_container",
      appId: "<%= theme.valine.appId %>",
      appKey: "<%= theme.valine.appKey %>",
      placeholder: "<%= theme.valine.placeholder %>",
      pageSize: "<%= theme.valine.pageSize %>",
      avatar: "<%= theme.valine.avatar %>",
      lang: "<%= theme.valine.lang %>",
      emojiCDN: "https://mirrorcdn.bili33.top/",
      // 表情title和图片映射
      emojiMaps: {
        Tieba2: "Tieba/i_f01.png",
        Tieba3: "Tieba/i_f02.png",
        Tieba4: "Tieba/i_f03.png",
        Tieba5: "Tieba/i_f04.png",
        Tieba6: "Tieba/i_f05.png",
        Tieba7: "Tieba/i_f06.png",
        Tieba8: "Tieba/i_f07.png",
        Tieba9: "Tieba/i_f08.png",
        Tieba10: "Tieba/i_f09.png",
        Tieba11: "Tieba/i_f10.png",
        Tieba12: "Tieba/i_f11.png",
        Tieba13: "Tieba/i_f12.png",
        Tieba14: "Tieba/i_f13.png",
        Tieba15: "Tieba/i_f14.png",
        Tieba16: "Tieba/i_f15.png",
        Tieba17: "Tieba/i_f16.png",
        Tieba18: "Tieba/i_f17.png",
        Tieba19: "Tieba/i_f18.png",
        Tieba20: "Tieba/i_f19.png",
        Tieba21: "Tieba/i_f20.png",
        Tieba22: "Tieba/i_f21.png",
        Tieba23: "Tieba/i_f22.png",
        Tieba24: "Tieba/i_f23.png",
        Tieba25: "Tieba/i_f24.png",
        Tieba26: "Tieba/i_f25.png",
        Tieba27: "Tieba/i_f26.png",
        Tieba28: "Tieba/i_f27.png",
        Tieba29: "Tieba/i_f28.png",
        Tieba30: "Tieba/i_f29.png",
        Tieba31: "Tieba/i_f30.png",
        Tieba32: "Tieba/i_f31.png",
        Tieba33: "Tieba/i_f32.png",
        Tieba34: "Tieba/i_f33.png",
        bilibilitv2: "bilibilitv/[tv_doge].png",
        bilibilitv3: "bilibilitv/[tv_亲亲].png",
        bilibilitv4: "bilibilitv/[tv_偷笑].png",
        bilibilitv5: "bilibilitv/[tv_再见].png",
        bilibilitv6: "bilibilitv/[tv_冷漠].png",
        bilibilitv7: "bilibilitv/[tv_发怒].png",
        bilibilitv8: "bilibilitv/[tv_发财].png",
        bilibilitv9: "bilibilitv/[tv_可爱].png",
        bilibilitv10: "bilibilitv/[tv_吐血].png",
        bilibilitv11: "bilibilitv/[tv_呆].png",
        bilibilitv12: "bilibilitv/[tv_呕吐].png",
        bilibilitv13: "bilibilitv/[tv_困].png",
        bilibilitv14: "bilibilitv/[tv_坏笑].png",
        bilibilitv15: "bilibilitv/[tv_大佬].png",
        bilibilitv16: "bilibilitv/[tv_大哭].png",
        bilibilitv17: "bilibilitv/[tv_委屈].png",
        bilibilitv18: "bilibilitv/[tv_害羞].png",
        bilibilitv19: "bilibilitv/[tv_尴尬].png",
        bilibilitv20: "bilibilitv/[tv_微笑].png",
        bilibilitv21: "bilibilitv/[tv_思考].png",
        bilibilitv22: "bilibilitv/[tv_惊吓].png",
        bilibilitv23: "bilibilitv/[tv_打脸].png",
        bilibilitv24: "bilibilitv/[tv_抓狂].png",
        bilibilitv25: "bilibilitv/[tv_抠鼻].png",
        bilibilitv26: "bilibilitv/[tv_斜眼笑].png",
        bilibilitv27: "bilibilitv/[tv_无奈].png",
        bilibilitv28: "bilibilitv/[tv_晕].png",
        bilibilitv29: "bilibilitv/[tv_流汗].png",
        bilibilitv30: "bilibilitv/[tv_流泪].png",
        bilibilitv31: "bilibilitv/[tv_流鼻血].png",
        bilibilitv32: "bilibilitv/[tv_点赞].png",
        bilibilitv33: "bilibilitv/[tv_生气].png",
        bilibilitv34: "bilibilitv/[tv_生病].png",
        bilibilitv35: "bilibilitv/[tv_疑问].png",
        bilibilitv36: "bilibilitv/[tv_白眼].png",
        bilibilitv37: "bilibilitv/[tv_皱眉].png",
        bilibilitv38: "bilibilitv/[tv_目瞪口呆].png",
        bilibilitv39: "bilibilitv/[tv_睡着].png",
        bilibilitv40: "bilibilitv/[tv_笑哭].png",
        bilibilitv41: "bilibilitv/[tv_腼腆].png",
        bilibilitv42: "bilibilitv/[tv_色].png",
        bilibilitv43: "bilibilitv/[tv_调侃].png",
        bilibilitv44: "bilibilitv/[tv_调皮].png",
        bilibilitv45: "bilibilitv/[tv_鄙视].png",
        bilibilitv46: "bilibilitv/[tv_闭嘴].png",
        bilibilitv47: "bilibilitv/[tv_难过].png",
        bilibilitv48: "bilibilitv/[tv_馋].png",
        bilibilitv49: "bilibilitv/[tv_鬼脸].png",
        bilibilitv50: "bilibilitv/[tv_黑人问号].png",
        bilibilitv51: "bilibilitv/[tv_鼓掌].png",
        bilibili22332: "bilibili2233/[2233娘_卖萌].png",
        bilibili22333: "bilibili2233/[2233娘_吃惊].png",
        bilibili22334: "bilibili2233/[2233娘_吐魂].png",
        bilibili22335: "bilibili2233/[2233娘_喝水].png",
        bilibili22336: "bilibili2233/[2233娘_困惑].png",
        bilibili22337: "bilibili2233/[2233娘_大哭].png",
        bilibili22338: "bilibili2233/[2233娘_大笑].png",
        bilibili22339: "bilibili2233/[2233娘_委屈].png",
        bilibili223310: "bilibili2233/[2233娘_怒].png",
        bilibili223311: "bilibili2233/[2233娘_无言].png",
        bilibili223312: "bilibili2233/[2233娘_汗].png",
        bilibili223313: "bilibili2233/[2233娘_疑问].png",
        bilibili223314: "bilibili2233/[2233娘_第一].png",
        bilibili223315: "bilibili2233/[2233娘_耶].png",
        bilibili223316: "bilibili2233/[2233娘_郁闷].png",
      },
    });
  </script>
</div>
<% } %>
